@model IEnumerable<Shtat.Models.BazTarStavka>

@{
    ViewBag.Title = "Bts";
}

<div id="ServicesModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" id='ServicesModalContent'>

        </div>
    </div>
</div>

<div id="ServicesModalDelete" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" id='ServicesModalDeleteContent'>

        </div>
    </div>
</div>

<style type="text/css">
    TH {
        background: #EFF5FB; /* Цвет фона */
        border-bottom: double;
    }

    tr:nth-child(odd) {
        background: #EFF5FB; /* Цвет фона */
    }

    tr:nth-child(even) {
        background: #ffffff; /* Цвет фона */
    }
</style>







<h3>Базовая тарифная ставка</h3>

<p>
    <button type="button" class="btn btn-gradient waves-light waves-effect w-xs" onclick="BtsAdd(0)"><i class="mdi mdi-library-plus"></i> Добавить Базовую тарифную ставку</button>
</p>
<table class="table">
    <tr>
        <th>
            Группа
        </th>
        <th>
            Базовая тарифная ставка
        </th>
        <th>
            Дата ввода
        </th>
        <th>
            Дата закрытия
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Gruppa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stavka)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datein)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dateout)
        </td>        
        <td>
            <button type="button" class="btn btn-icon waves-effect waves-light btn-success" onclick="BtsEdit(@item.IDStavka)"> <i class="mdi mdi-settings"></i>Редактировать</button>
            <button type="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="DeleteSelectBts(@item.IDStavka)"> <i class="mdi mdi-delete"></i>Удалить</button>
        </td>
    </tr>
}

</table>
