@model IEnumerable<Shtat.Models.Doljnost>

@{
    ViewBag.Title = "Contact";
}


<div id="ServicesModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" id='ServicesModalContent'>

        </div>
    </div>
</div>

<div id="ServicesModalDelete" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" id='ServicesModalDeleteContent'>

        </div>
    </div>
</div>

<style type="text/css">
    TH {
        background: #EFF5FB; /* Цвет фона */
        border-bottom: double;
    }

    tr:nth-child(odd) {
        background: #EFF5FB; /* Цвет фона */
    }

    tr:nth-child(even) {
        background: #ffffff; /* Цвет фона */
    }
</style>







<h3>Должности</h3>

<p>
    <button type="button" class="btn btn-gradient waves-light waves-effect w-xs" onclick="DoljAdd(0)"><i class="mdi mdi-library-plus"></i> Добавить Новую должность</button>
</p>
<table class="table" >
    <tr>
        <th>
            @Html.ActionLink("Должности", "Contact", new { sortDolj = ViewBag.DoljSortParm })
        </th>
        <th>
            Дата создания
        </th>
        <th>
            Дата закрытия
        </th>
        
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doljnost1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datein)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dateout)
        </td>
            <td>
            <button type="button" class="btn btn-icon waves-effect waves-light btn-success" onclick="DoljEdit(@item.IDDolj)"> <i class="mdi mdi-settings"></i>Редактировать</button>
            </td>
        <td>
            <button type="button" class="btn btn-icon waves-effect waves-light btn-danger" onclick="DeleteSelectDolj(@item.IDDolj)"> <i class="mdi mdi-delete"></i>Удалить</button>
        </td>
    </tr>
}

</table>
